
/* ------------------- Main Color ------------------- */
$color_1: black; // Black
$color_2: rgb(36, 83, 192);
$color_3: #b469c0;
$color_4: #162c57;
$color_5: rgb(255, 255, 255);
$color_6: #646464;
$color_7: #972a7a;



/* ------------------- Other Color ------------------- */


/* ------------------- Resolution ------------------- */
$desktop_res: 920px;
$tablet_res: 768px;
$mobile_res: 414px;

/* ------------------- Path ------------------- */
