{% extends '/base.html.twig' %}

{% form_theme form 'form/edit.html.twig' %}

{% block body %}
    <div class="main">
        {{ form_start(form) }}
        <h1>Create user</h1>
        {{ form_widget(form) }}
        <button class="btn btn-primary btn--ajax" type="submit">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}